<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.0.35" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3-beta2" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="Serilog" version="2.9.0-dev-01124" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="3.1.2-dev-00824" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net472" />
  <package id="System.Data.Odbc" version="4.7.0-preview1.19504.10" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.113.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net472" />
</packages>