<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- <add key="Db_mysql" value="DSKSP149"/>-->
    <add key="Db_mysql" value="10.10.3.30" />
	  <add key="Db_sqlite" value="c:\temp" />
    <add key="IndiceFiltro" value="12" />




	  <!--Nome da Impressora Cupom-->
	  <add key="Dados_imprimir" value="{'Nome_Impressora':'Elgin',      'Cnpj_Loja':'99999999999999',      'InscricaoMunicipal':'00000',      'Nome_Loja':'Teste Livraria xxxxxxxxxx ',      'Local_Loja':'R do teste,52 |V.Teste 05555-080 S.Paulo'}" />








	  <!-- Arquivo Log -->
    <add key="Local_arq_log" value="C:\Log" />
    <!-- Arquivo Log -->
    <add key="Url_base" value="http://10.10.0.37:1200/plugin_web/" />
    <!-- Via cep -->
    <add key="Url_viacep" value="http://viacep.com.br/ws/{0}/json/unicode/" />
    <add key="Url_feriado" value="https://api.calendario.com.br/?json=true|ano={0}|estado={1}|cidade={2}|token=Z3JhbW9zOTk5NjBAeWFob28uY29tLmJyJmhhc2g9OTU2MDA0OTE" />
    <add key="Url_feriado_CodMun" value="https://api.calendario.com.br/?json=true|token=Z3JhbW9zOTk5NjBAeWFob28uY29tLmJyJmhhc2g9OTU2MDA0OTE|ano={0}|ibge={1}" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CalcPrecoPrazoWSSoap" />
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
        <binding name="ServicePortBinding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CalcPrecoPrazoWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.correios.com.br/calculador/CalcPrecoPrazo.asmx" binding="basicHttpBinding" bindingConfiguration="CalcPrecoPrazoWSSoap" contract="WsCalculaValorPrazoCorreio.CalcPrecoPrazoWSSoap" name="CalcPrecoPrazoWSSoap" />
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="WsCorreios.AtendeCliente" name="AtendeClientePort" />
      <endpoint address="http://webservice.correios.com.br:80/service/rastro" binding="basicHttpBinding" bindingConfiguration="ServicePortBinding" contract="WebCorreios.Service" name="ServicePort" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>